
.header{
    background-color: black;
}

.img-logo{

    width: 12vh;
}
.container-fluid{
    background-color:black;
}

.logo {
    background-color: black;
}

.text-menu {
    color: white;
}
div#navbarNavDropdown {
    background: black;
}

.icons-color{
    color: white;
    font-size: 1.2rem;

}
.classpadding{
    padding: 0;
}

.main{
    background-color: black;
}